@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

*{

    font-family: "Sanchez", serif;
    font-size: large;
    font-style: normal;
    box-sizing: border-box;
}
body
{
    background-color: #2D3E40;
}
.holder
{
    width: 380px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #2D3E40;
}


#container
{   
    margin: 10px;
    box-sizing: content-box;
    background-color: #2D3E40;
    width: 360px;
}
#calc
{
    border-bottom: 1px solid black;
}
#calc, #result
{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    width: 100%;
    height: 35px;
}
#display
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    background-color: #387373;
    border-radius: 10px;
    margin-bottom: 10px;
}

.control
{
    width: 360px;
    display: flex;
    flex-direction: column;
    background-color: #2D3E40;

}
#top
{
    display: flex;
    width: 100%;

}
#bottom
{
    display: flex;
}
#numbers
{
    display: flex;
    min-width: 270px;
    flex-wrap: wrap;
}
#right
{
    position: relative;
    width: 90px;
    display: flex;
    flex-direction: column;
}
.button
{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    border-radius: 10px;
    box-shadow: 2px 1px 0px 2px #000000;
    width:  70px;
    height: 70px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 400ms , scale 500ms;
    background-color: #97A6A0;
    
}
.button:hover
{
    cursor: pointer;
}
.button:active
{
    cursor: pointer;
    scale: 0.8;
    box-shadow: none;
}
.equal, .zero
{
    background-color: #f5751d;
   flex-grow: 2;
}

.clear
{
    background-color: #f5751d;
    width: 160px;
}